<header>
  <h1>Derek Weatherford</h1>
</header> 

<div id="space_before_nav">
</div>


  <%= render partial: 'layouts/navigation' %>

<div id="show_container">
  <div id="about_me_container" class="page" data-active="false">
    
    <div id="education" class="one-third-column">
      <div class="copy_wrapper">
        <p>Well, the way they make shows is, they make one show. That show's called a pilot. Then they show that show to the people who make shows, and on the strength of that one show they decide if they're going to make more shows. Some pilots get picked and become television programs. Some don't, become nothing. She starred in one of the ones that became nothing. </p>
      </div>
    </div>

    <div id="experience" class="one-third-column">
      <div class="copy_wrapper">
        <p>Well, the way they make shows is, they make one show. That show's called a pilot. Then they show that show to the people who make shows, and on the strength of that one show they decide if they're going to make more shows. Some pilots get picked and become television programs. Some don't, become nothing. She starred in one of the ones that became nothing. </p>
      </div>  
    </div>

    <div id="personal_wrapper" class="one-third-column">
      <div class="copy_wrapper">
        <p>Well, the way they make shows is, they make one show. That show's called a pilot. Then they show that show to the people who make shows, and on the strength of that one show they decide if they're going to make more shows. Some pilots get picked and become television programs. Some don't, become nothing. She starred in one of the ones that became nothing. </p>
      </div>
    </div>
  </div>

  <div id="projects_container" class="page" data-active="false">
    <div id="project_one" class="project">
      <%= image_tag("solar_u_screenshot.png") %>
    </div>

  <div id="contact_container" class="page" data-active="false">
asdfasdfasdfasdfasdf  </div>
</div>

