



<div id="nav_wrapper">
<div id="navigation" data-state="1">
<ul>
  <li><span class="internal_link" id="link_one">About</span></li>
  <li><span class="internal_link" id="link_two">Projects</span></li>
  <li><span class="internal_link" id="link_three">Contact</span></li>
  <li><span class="internal_link" id="link_four">Blog</span></li>
</ul>
</div>
</div>